<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://unpkg.com/v-tooltip"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/curl-parser-js@0.0.3/dist/parse-curl-js.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.13.0/themes/prism-tomorrow.css"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.13.0/plugins/line-numbers/prism-line-numbers.css"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <nav>
    <div class="nav-wrapper grey darken-3">
       <a href="#" class="brand-logo">Kiabi</a>
        <ul id="nav-mobile" class="right">
          <li>
            <a href="collapsible.html">version 0.0</a>
          </li>
        </ul>
    </div>
  </nav>
    <img class="header" src={{url_for('static', filename='img/header.jpg')}} alt="header">
    <div class="container">
      <h4>Flux Kiabi</h4>
      <hr flex/></span>
      <div id="app">
      </br>
      </br>
        <div class="input-field col s12">
          <select multiple @change="change($event)">
            <option  ref="criteria" disabled selected>Choose your option</option>
            {% for dict_item in color_agreggation %}
                <option value="{{dict_item['key']}}">{{dict_item['key']}} - {{dict_item['doc_count']}}</option>
            {% endfor %}
          </select>
          <label>Cardinalité sur la couleur</label>
        </div>

        <div>
          <productlist ref="productlist" :products="[]"></productlist>
        </div>
      </div> <!-- app -->
    </div>
</body>

<footer class="page-footer deep-orange accent-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/prismjs@1.13.0/prism.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.13.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src={{url_for('static', filename='doc.js')}}></script>
<link rel="stylesheet" href={{url_for('static', filename='doc.css')}}></link
</body>
</html>
