<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{{url_for('static', filename='libs/css/material.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='libs/css/default_material.css')}}">

  <link rel="stylesheet" href="{{url_for('static', filename='libs/css/materialize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='libs/css/nouislider.min.css')}}">

  <link href="{{url_for('static', filename='libs/fonts/font')}}" rel="stylesheet">
</head>

<body>
  <nav>
    <div class="nav-wrapper grey darken-3">
       <a href="#" class="brand-logo white-text">Kiabi</a>
        <ul id="nav-mobile" class="right">
          <li>
            <a href="collapsible.html" class="white-text">version 0.0</a>
          </li>
        </ul>
    </div>
  </nav>
    <img class="header" src={{url_for('static', filename='img/header.jpg')}} alt="header">
    <div class="container">
      <h4>Flux Kiabi</h4>
      <hr flex/></span>
      <div id="app">
      </br>
      </br>

      <div class="row">
          <div class="col l6 s6">
            <label>Cardinalité sur les groupes d'ages</label>
            <form action="#">
              {% for dict_item in ageGroup_cardinality %}
                <md-checkbox v-model="age_group" value="{{dict_item['key']}}">{{dict_item['key']}}</md-checkbox>
              {% endfor %}
            </form>
          </div>
          <div class="col l6 s6">
            <label>Cardinalité sur le genre</label>
            <form action="#">
              {% for dict_item in gender_cardinality %}
                <md-checkbox v-model="gender" value="{{dict_item['key']}}" >{{dict_item['key']}}</md-checkbox>
              {% endfor %}
            </form>
        </div>
      </div>

      </br>

      <div class="row">
        <div class="col s6">
            <label>Cardinalité sur la couleur</label>
            <div class="md-layout-item">
              <md-field md-selected="colorChange">
                  <label for="color_selector">Couleurs</label>
                  <md-select id="color_selector" v-model="selected_colors" multiple>
                    {% for dict_item in color_cardinality %}
                      <md-option  value="{{dict_item['key']}}">{{dict_item['key']}}</md-option>
                    {% endfor %}
                  </md-select>
              </md-field>
            </div>
        </div>

          <div class="col s6">
            <label>Cardinalité sur la taille</label>
              <div class="md-layout-item">
              <md-field  md-selected="colorChange">
                  <label for="size_selector">Tailles</label>
                  <md-select id="size_selector" v-model="selected_size" multiple>
                    {% for dict_item in size_cardinality %}
                      <md-option value="{{dict_item['key']}}">{{dict_item['key']}}</md-option>
                    {% endfor %}
                  </md-select>
              </md-field>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col s6">
          <label>Cardinalité sur la matière</label>
          <div class="md-layout-item">
            <md-field  md-selected="colorChange">
                <label for="color_selector">Mat</label>
                <md-select id="material_selector" v-model="selected_colors" multiple>
                  {% for dict_item in material_cardinality %}
                    <md-option value="{{dict_item['key']}}">{{dict_item['key']}}</md-option>
                  {% endfor %}
                </md-select>
            </md-field>
          </div>
      </div>

        <div class="col s6">
      </div>
    </div>

<div>
  <h5>prix</h5>
  <div id="test-slider"></div>
  </br>
</div>
        <div>
          <pagination></pagination>
          <productlist ref="productlist" :products="[]"></productlist>
        </div>
      </div> <!-- app -->
    </div>
</body>

<footer class="page-footer deep-orange accent-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
</footer>

<script src="{{url_for('static', filename='libs/js/vue.js')}}"></script>
<script src="{{url_for('static', filename='libs/js/vue_material.js')}}"></script>
<script src="{{url_for('static', filename='libs/js/nouislider.min.js')}}"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src={{url_for('static', filename='index.js')}}></script>
<link rel="stylesheet" href={{url_for('static', filename='doc.css')}}></link
</body>
</html>
